---
import Layout from "../layouts/Layout.astro";
import WelcomeCounter from "../components/WelcomeCounter.astro";
---

<Layout title="Welcome to Astro my duder">
  <main>
    <WelcomeCounter />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: var(--space24);
    max-width: var(--screenMedium);
  }
</style>
