---
import theme from "../theme.js";
export interface Props {
  title: string;
}

const { title } = Astro.props;

// set up a theme object i can pass into the style
const styles = {
  ...theme.borderWidths,
  ...theme.colors,
  ...theme.fontSizes,
  ...theme.fontWeights,
  ...theme.lineHeights,
  ...theme.radii,
  ...theme.screenSizes,
  ...theme.space,
  ...theme.zIndices,
};
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global define:vars={styles}>
  html {
    font-family: system-ui, sans-serif;
    background-color: var(--background);
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
</style>
